{% extends 'todo/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'forgotpassword_app/css/forgotpassword.css' %}">

{% endblock %}
{% block content %}
<div class="boduContainer">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card {% if error %}error{% endif %}">
				<div class="card-header">
					<h3>Forgotten password</h3>
				</div>
				<div class="card-body">
					<form method="post">
						{% csrf_token %}
						<div class="input-group form-group">
							<div class="input-group-prepend">
								<span class="input-group-text"><i class="fa fa-envelope"></i></span>
							</div>
							<input type="email" class="form-control" placeholder="Email address" name="email" required/>

						</div>
						<div>
							<p class="error">{{error}}</p>
						</div>
						<div class="form-group">
							<input type="submit" value="Send email" class="btn float-right login_btn">
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	</div>
	{% endblock %}
