{% extends 'todo/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'forgotpassword_app/css/forgotpasswordsucces.css' %}">

{% endblock %}
{% block content %}
<div class="boduContainer">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<p class="h1 text-center font-weight-bold">Thank you!</p>
				<p class="lead text-center"> You have received an email to change your password!</p>

			</div>
		</div>
	</div>
</div>
{% endblock %}
