{% extends 'todo/base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" type="text/css" href="{% static 'forgotpassword_app/css/passwordchanged.css' %}">

{% endblock %}
{% block content %}
<div class="boduContainer">
	<div class="container">
		<div class="d-flex justify-content-center h-100">
			<div class="card">
				<p class="h1 text-center font-weight-bold">Congratulations!</p>
				<p class="lead text-center"> You have changed your password!</p>
				<div class="d-flex justify-content-center links2">
					<a href="{% url 'home' %}">You can now login on your account!</a>
				</div>

			</div>
		</div>
	</div>
</div>
	{% endblock %}
