
.container{
	height: 100%;
align-content: center;
}
.card{
height: 130px;
margin-top: auto;
margin-bottom: auto;
width: 450px;
background-color: #660099;
}


	.lead {
		color: #FFC333;
	}
.h1{
color: #FFC333;
}
.links2 a{
color: #FFC333;
}