
.container{
	height: 100%;
align-content: center;
}
.card{
height: 180px;
margin-top: auto;
margin-bottom: auto;
width: 400px;
background-color: #660099;
}
.card.error {
	height: 220px;
}

	.card-header{
color: white;
height: 50px;
}
.input-group-prepend span{
width: 40px;
background-color: #FFC333;
color: black;
border:0;
}

.login_btn{
color: black;
background-color: #FFC333;
width: 130px;
}
