{% extends "todo/base.html" %}

{% block content %}
<p><a href="{% url 'home' %}">home</a></p>
<h1>{{course.title}}</h1>
<h3>assignments: </h3>
<p>todo</p>
<ul>
    {% for assignment in todos %}
    <li>
        <div class="course">
            <a href="{% url 'viewassignment' course.id assignment.title %}">
                <p>{{assignment.title}}</p>
                <p>student numbesr: {{assignment.title__count}}</p>
            </a>

        </div>
    </li>
    {% endfor %}




</ul>


<p>done</p>
<ul>
    {% for assignment in dones %}
    <li>
        <div class="course">
            <a href="{% url 'viewassignment' course.id assignment.title %}">
                <p>{{assignment.title}}</p>
                <p>student numbesr: {{assignment.title__count}}</p>
            </a>

        </div>
    </li>
    {% endfor %}




</ul>

<form method="GET" action="{% url 'createassignment' course.id %}">


    {% csrf_token %}
    <button>create more assignments</button>

</form>
{% endblock %}